__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.ipynb_checkpoints

data/
.DS_Store
*.pdf
*.csv
*.xlsx
*.json
*.txt
*.log
test.ipynb
algo3.1_topdown.ipynb
experiments.py
Monte_Carlo_default_time_exact_v2(1).ipynb
PlainJAM.ipynb
Sectoral_bottom_up__sim_Copy1.ipynb
*.png
**/__init__.py

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
*.cmake
